#wrapper {
    min-height: 100%;
    position: relative;
}

#header {
    padding: 0
}

#main {
    padding: 10px;
    padding-bottom: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #6cf;
}

.el-footer {
    background: rgb(84, 92, 100);
    color: #fff;
}

.el-menu-item.right {
    float: right;
}